1. Reverse a String

In [7]:
def reverse_string(s):
    return s[::-1]

2. Count the Number of Vowels in a String

In [8]:
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in s if char in vowels)

3. Check if a Given String is a Palindrome

In [9]:
def is_palindrome(s):
    return s == s[::-1]

4. Check if Two Given Strings are Anagrams

In [10]:
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

5. Find All Occurrences of a Substring

In [11]:
def find_substring_occurrences(s, sub):
    return [i for i in range(len(s)) if s.startswith(sub, i)]

6. Perform Basic String Compression

In [12]:
def compress_string(s):
    compressed = []
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1
    compressed.append(s[-1] + str(count))
    return ''.join(compressed)

7. Determine if a String Has All Unique Characters

In [13]:
def has_unique_characters(s):
    return len(s) == len(set(s))

8. Convert a Given String to Uppercase or Lowercase

In [14]:
def convert_case(s, to_upper=True):
    return s.upper() if to_upper else s.lower()

9. Count the Number of Words in a String

In [15]:
def count_words(s):
    return len(s.split())

10. Concatenate Two Strings Without Using the '+ ' Operator

In [16]:
def concatenate_strings(s1, s2):
    return ''.join([s1, s2])

11. Remove All Occurrences of a Specific Element from a List

In [17]:
def remove_element(lst, elem):
    return [x for x in lst if x != elem]

12. Find the Second Largest Number in a List

In [18]:
def second_largest(lst):
    first, second = float('-inf'), float('-inf')
    for n in lst:
        if n > first:
            first, second = n, first
        elif first > n > second:
            second = n
    return second

13. Count the Occurrences of Each Element in a List

In [19]:
def count_elements(lst):
    counts = {}
    for elem in lst:
        counts[elem] = counts.get(elem, 0) + 1
    return counts

14. Reverse a List In-Place

In [20]:
def reverse_list(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1
    return lst

15. Remove Duplicates from a List While Preserving Order

In [21]:
def remove_duplicates(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

16. Check if a List is Sorted

In [22]:
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

17. Merge Two Sorted Lists

In [23]:
def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)

18. Find the Intersection of Two Lists

In [24]:
def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

19. Find the Union of Two Lists Without Duplicates

In [25]:
def union(lst1, lst2):
    return list(set(lst1) | set(lst2))

20. Shuffle a List Randomly Without Using Built-In Functions

In [26]:
import random

def shuffle_list(lst):
    random.shuffle(lst)
    return lst

21. Return a Tuple Containing Elements Common to Both Input Tuples

In [27]:
def common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))

22. Print the Intersection of Two Sets Entered by the User

In [28]:
def intersection_of_sets():
    set1 = set(input("Enter first set of integers separated by commas: ").split(','))
    set2 = set(input("Enter second set of integers separated by commas: ").split(','))
    return set1 & set2

23. Concatenate Two Tuples

In [29]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

24. Print the Elements in the First Set but Not in the Second Set

In [30]:
def difference_of_sets():
    set1 = set(input("Enter first set of strings separated by commas: ").split(','))
    set2 = set(input("Enter second set of strings separated by commas: ").split(','))
    return set1 - set2

25. Return a Tuple Containing Elements Within a Specified Range

In [31]:
def slice_tuple(tup, start, end):
    return tup[start:end]

26. Print the Union of Two Sets

In [32]:
def union_of_sets():
    set1 = set(input("Enter first set of characters separated by commas: ").split(','))
    set2 = set(input("Enter second set of characters separated by commas: ").split(','))
    return set1 | set2

27. Return the Maximum and Minimum Values from a Tuple

In [33]:
def max_min_tuple(tup):
    return max(tup), min(tup)

28. Print the Union, Intersection, and Difference of Two Sets

In [34]:
def set_operations():
    set1 = {1, 2, 3, 4}
    set2 = {3, 4, 5, 6}
    return set1 | set2, set1 & set2, set1 - set2

29. Return the Count of Occurrences of an Element in a Tuple

In [35]:
def count_in_tuple(tup, elem):
    return tup.count(elem)

30. Print the Symmetric Difference of Two Sets

In [36]:
def symmetric_difference_of_sets():
    set1 = set(input("Enter first set of strings separated by commas: ").split(','))
    set2 = set(input("Enter second set of strings separated by commas: ").split(','))
    return set1 ^ set2

31. Return a Dictionary of Word Frequencies from a List

In [37]:
def word_frequencies(words):
    return {word: words.count(word) for word in set(words)}


32. Merge Two Dictionaries, Adding Values for Common Keys

In [38]:
def merge_dictionaries(dict1, dict2):
    merged = dict1.copy()
    for key, value in dict2.items():
        merged[key] = merged.get(key, 0) + value
    return merged

33. Access a Value in a Nested Dictionary

In [39]:
def access_nested_dict(nested_dict, keys):
    for key in keys:
        nested_dict = nested_dict.get(key)
        if nested_dict is None:
            return None
    return nested_dict

34. Return a Sorted Version of a Dictionary Based on Values

In [40]:
def sort_dict_by_values(d, ascending=True):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=not ascending))

35. Invert a Dictionary, Swapping Keys and Values

In [41]:
def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        inverted.setdefault(value, []).append(key)
    return inverted